normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background $vermelho
    color #fff

::-moz-selection
    background $vermelho
    color #fff

html, body
    height 100%
    position relative

body.home
    min-height 500px
    +mobile()
        min-height 300px
