desktop-base-width     = 1180px
rupture.desktop-cutoff = $tablet = 1200px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #ED3237

@import 'https://fonts.googleapis.com/css?family=Dosis:400,700';
dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
