.clipping
    clearfix()
    font-size 0
    background #A9ABAE
    text-align center
    border-top 4px solid $vermelho
    padding-top 1px
    .thumb
        display inline-block
        position relative
        width 25%
        overflow hidden
        border 1px solid #fff
        margin-left -1px
        margin-top -1px
        +tablet()
            width 33.333%
        +mobile()
            width 50%
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(#000, .7)
            color #fff
            opacity 0
            transition opacity .3s
            span
                display block
                width 100%
                padding 0 20px
                position absolute
                top 50%
                transform translateY(-50%)
                text-align center
                dosis 18
                text-transform uppercase
        img
            display block
            width 100%
            height auto
        &:hover
            .overlay
                opacity 1
