.contato
    width 100%
    position relative
    border-top 4px solid $vermelho
    clearfix()
    background-image linear-gradient(90deg, #fff 0%, #fff 70%, #A9ABAE 70%, #A9ABAE 100%)
    +tablet()
        background-image linear-gradient(90deg, #fff 0%, #fff 50%, #A9ABAE 50%, #A9ABAE 100%)
    +mobile()
        background none
    .mapa
        width 70%
        height 100%
        position absolute
        top 0
        left 0
        iframe
            display block
            width 100%
            height 100%
        +tablet()
            width 50%
        +mobile()
            width 100%
            position relative
            height 250px
            float left
    .informacoes
        width 30%
        float right
        padding 40px 20px 100px 20px
        background #A9ABAE
        +tablet()
            width 50%
        +mobile()
            width 100%
            padding 25px
        .telefone
            color #fff
            margin 0 0 10px
            dosis 28 bold
            +mobile()
                font-size 24px
        .endereco
            p
                color #fff
                margin 0
                dosis 20
                +mobile()
                    font-size 18px
        form
            margin-top 50px
            +mobile()
                margin-top 20px
            textarea
                height 200px
            input
            textarea
                +placeholder()
                    color #fff
                width 100%
                outline 0
                border 0
                padding 0
                color #fff
                dosis 18
                background rgba(#fff, .15)
                margin-bottom 3px
                padding 4px 8px
                display block
                &[type='submit']
                    font-weight 700
                    letter-spacing 1px
                    transition background .3s
                    &:hover
                        background $vermelho
            .response
                height 60px
                margin-top 10px
                #form-contato-response
                    display none
                    border 2px solid rgba(#000, .5)
                    padding 10px
                    dosis 14 bold
                    text-transform uppercase
                    color rgba(#000, .5)
                    text-align center
