.banners
    position absolute
    z-index -1
    top 0
    left 0
    width 100%
    height 100%
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center
