.perfil
    width 100%
    clearfix()
    background-image linear-gradient(90deg, $vermelho 0%, $vermelho 50%, #fff 50%, #fff 100%)
    .esquerda
        width 50%
        float left
        background $vermelho
        padding 10px
        .fotos-slider
            overflow hidden
            position relative
            .controls
                width 50%
                height 100%
                position absolute
                top 0
                display block
                z-index 9999
                opacity .6
                transition opacity .3s
                text-indent -9999px
                &:hover
                    opacity 1
                &.cycle-prev
                    left 0
                    background $img('seta-esq.png') no-repeat 5% center
                &.cycle-next
                    right 0
                    background $img('seta-dir.png') no-repeat 95% center
        img
            width 100%
            height auto
            display block
    .direita
        width 50%
        float left
        .imagens
            clearfix()
            img
                width 25%
                height auto
                display block
                float left
        .texto
            margin 55px
    +tablet()
        background-image linear-gradient(90deg, $vermelho 0%, $vermelho 40%, #fff 40%, #fff 100%)
        .esquerda
            width 40%
        .direita
            width 60%
            .texto
                margin 35px
    +mobile()
        background none
        .esquerda
        .direita
            width 100%
        .direita .texto
            margin 20px 20px 35px
