.projetos
    clearfix()
    font-size 0
    background #A9ABAE
    text-align center
    .projetos-categorias
        width 100%
        clearfix()
        margin-bottom 1px
        a
            width 50%
            float left
            background #A9ABAE
            dosis 15 bold
            color #fff
            text-transform uppercase
            padding 6px 20px
            text-align right
            &:nth-child(2n)
                text-align left
            &.active
                background $vermelho
                cursor default
                &:hover
                    color #fff
            &:hover
                color $vermelho
    .thumb
        display inline-block
        position relative
        width 25%
        overflow hidden
        border 1px solid #fff
        margin-left -1px
        margin-top -1px
        +tablet()
            width 33.333%
        +mobile()
            width 50%
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(#000, .7)
            color #fff
            opacity 0
            transition opacity .3s
            span
                display block
                width 100%
                padding 0 20px
                position absolute
                top 50%
                transform translateY(-50%)
                text-align center
                dosis 18
                text-transform uppercase
        img
            display block
            width 100%
            height auto
        &:hover
            .overlay
                opacity 1
