.hidden
    display none

.fancybox-skin
    border-radius 0
    box-shadow none !important

.fancybox-overlay
    background rgba(#000, .8)

.fancybox-close
    background $img('fechar.png') no-repeat center right
    right 0
    top -35px

.fancybox-next span
    visibility visible
    background $img('seta-dir.png') no-repeat center

.fancybox-prev span
    visibility visible
    background $img('seta-esq.png') no-repeat center

.fancybox-title
    dosis 14
