footer
    width 100%
    background #CCCCCC
    text-align center
    padding 10px 0
    p
        font 10px 'Arial', 'sans-serif'
        a:hover
            color $vermelho
        +mobile()
            span
                display block
                font-size 0
                padding 2px 0

.home footer
    position absolute
    bottom 0
    z-index 105
