header
    background #fff
    width 100%
    height 140px
    +mobile()
        height 100px
    .center
        clearfix()
        height 100%
    .logo
        display block
        float left
        width 199px
        height 74px
        background $img('lima.png') no-repeat center
        text-indent -9999px
        margin-top 35px
        +tablet()
            width 179px
            height 66px
            background-size 100% auto
            margin-top 38px
        +mobile()
            width 159px
            height 59px
            background-size 100% auto
            margin-top 21px
    #nav-desktop
        float left
        margin-left 60px
        height 100%
        padding-top 66px
        +mobile()
            display none
        +tablet()
            margin-left 40px
        a
            dosis 20
            color #000
            display inline-block
            margin 0 15px
            &:hover
            &.active
                color $vermelho
            +tablet()
                dosis 18
                margin 0 8px
    .facebook
        float left
        display block
        width 20px
        height 20px
        text-indent -9999px
        background $img('facebook.png') no-repeat center
        margin-top 69px
        margin-left 20px
        +mobile()
            float right
            margin-top 40px
        +tablet()
            margin-left 15px
            margin-top 67px
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 30px
        +mobile()
            margin-left 25px
        .lines
            display block
            width 100%
            height 4px
            background $vermelho
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $vermelho
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        background darken($vermelho, 10)
        border-bottom 4px solid darken($vermelho, 15)
        padding 20px 0
        text-align center
        z-index 106
        a
            display block
            color #fff
            dosis 16
            text-transform uppercase
            text-decoration none
            padding 5px 0
            &.active
                color #000

.home header
    background rgba(#fff, .8)
    position absolute
    top 0
